
body {
background-color: #289688;
text-align: center
}


h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    color : #FDEA3E;
}

.imagenes {
    border: 7px solid white;
    height: 150px;
}

